    #inserterForm {
        position: absolute;
        width: 500px;
        height: 300px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 999999;
        background: -webkit-linear-gradient(top, #000428, #004e92);
        font-size: 20px;
        color: #fff;
        font-family: sans-serif;
        border-radius: 20px;
        box-shadow: 4px 4px #7fa6c8;
        border: solid 2px #e5edf4;
    }

    #inserterForm>div {
        padding: 30px;
    }

    div#inserterForm:before {
        content: "⏎ to insert";
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    #inserterForm input::placeholder {
        color: #0e0e0e;
        font-family: sans-serif;
        padding: 2px;
    }

    #inserterForm input {
        border-radius: 3px;
        padding: 2px;
        font-family: sans-serif;
        font-size: 20px;
        width: 170px;
    }